.timesheet-table {
  display: grid;
  grid-template-columns: 4.5rem repeat(7, 1fr);
  grid-template-rows: 3rem repeat(10, 4.5rem);

  .days-row {
    @apply flex items-center justify-center py-3 text-primary text-sm border border-primary;
  }
  .time-row {
    @apply flex items-center justify-center text-primary text-sm border border-primary;
  }
  .cell {
    @apply border border-primary;
    width: 100%;
    height: 100%;
  }
}